header {
    background-color: #000;
    padding: 14px 55px;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 13%;
    /* width: 180px; */
}

header .logo img{
    width: 100%;
}

header nav {
    width: 45%;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 16px;
    font-weight: 900;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: .2s;
}
header nav ul li a:hover {
    color: #1ed760;
}

header nav ul li .user {
    color: #919496;
    transition: .2s;
}
header nav ul li .user:hover {
    color: #1ed760;
}

/* Responsive */
@media (max-width: 1050px) {
    header nav {
        width: 60%;
    }
}

@media (max-width: 870px) {
    header nav {
        width: 70%;
    }
}
@media (max-width: 700px) {
    header nav {
        width: 80%;
    }
}
@media (max-width: 650px) {
    header {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    header .logo {
        width: 30%;
    }
    header nav {
        width: 100%;
    }
}
@media (max-width: 470px) {
    header .logo {
        width: 60%;
    }
    header nav ul{
        display: flex;
        flex-direction: column;
    }
}